#feedback{
    background-color: #0d0442;
    padding: 7% 10%;

}
.hr-style{
    border: 5px dotted white;
    border-bottom: none;
    width: 50px;
    margin: 0 auto;
}
.carousel-item{
    padding: 5% 15%;
    text-align: center;
}
.carousel-indicators{
    bottom: -20px;
}